body{
    background-color: rgb(16, 16, 16);
}
.c-logo{
    height:6em;
    width:24em;
    display: block;
    margin: auto;
}
h1{
    color: aliceblue;
    text-align: center;
}
.result{
    background-color: rgba(86, 86, 86, 0.173);
    padding: 40px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}
.name{
    color: white;
    text-align: center;
}
@media only screen and (max-width: 768px){
    c-logo{
        height: 6em;
        width:54em;
    }
    .result{
        margin-left: 40px;
        margin-right: 40px;
    }
}